.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
}

.loaderAnimation {
  width: 120px;
  height: 120px;
}
